.textos {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #006699; line-height: 10pt; background-image: none; background-repeat: no-repeat; text-transform: none; background-color: #FFFFFF; font-style: normal}
.textos2 { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #006699; text-decoration: none; line-height: 11pt}
.titulos {  font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #202E6E; font-weight: bold}
.subtitulos { font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #28654B; font-weight: bold ; text-decoration: none; line-height: 18px}
.subtitulos2 { font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #A81C38; font-weight: bold; text-decoration: none}
.subtitulos3 { font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #666666; font-weight: bold; line-height: 15px}
.secciones { font-family: Arial, Helvetica, sans-serif; font-size: 17px; color: #D40026; font-weight: bold; text-decoration: none}
.clasificacion { font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #1A1357; font-weight: bold ; text-decoration: none}
.buscador1 { font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #00cc33; font-weight: bold }
.buscador2 { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #1A1357; font-style: normal}
.links { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #0033FF; text-decoration: none; cursor: hand; filter: Light}
a:hover {  color: #666666}
.invbox {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10pt; font-weight: bold; color: #000C62; border: #FFFFFF}
.menuinf { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #000000; text-decoration: none; line-height: 10pt}
a:hover {  }
